/*comment*/
/* *  */
/* { */

/*     box-sizing: border-box; */
/*     background-color: #202b38; */
/*     color:white; */
/*     font-family:Arial, Helvetica, sans-serif; */
/* } */


nav h3
{
    text-align: center;
}

.current
{

    text-align: center;
}

nav
{
    
    float: left;
    width: 18%;
    border-style: none;
    color: red;
    height: 100%;
   
    
}

nav h3{color: #FF00FF;}

nav ul
{
    list-style-type: none;
    line-height: 1.8;
    text-decoration: none;
}

nav ~ *
{
    width: 82%;
    float: right;
}

/*
article
{
    line-height:1.8;
    text-align: justify;
    width:70%;
    float:left;
    border-style: solid;
    color:black;
    padding-left: 20px;
}
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
